/*@import url('https://fonts.googleapis.com/css?family=Lobster');*/

body {
  background-color: black;
}

.carousel-inner>.item>img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.golden {
  font-family: 'Lobster', cursive;
  color: #facd1c;
}


/* Workshops stuff */

body.workshops {
  margin-bottom: 40px;
  background-color: #facd1c;
}

.workshops .jumbotron {
  background-color: #facd1c;
  text-align: center;
  padding: 10px;
}

.workshops .container {
  padding: 30px;
  padding-top: 50px;
  background-color: white;
}

.workshops .main {
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}

.workshops .workshop {
  background-color: #faebaf;
  padding: 15px;
  padding-bottom: 0;
  margin-bottom: 25px;
  font-size: 14px;
}

.workshop-title {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.workshop-description {
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.workshops .workshop img {
  width: 100%;
  margin-bottom: 10px;
}

.workshops .paypal {
  text-align: center;
  margin-top: 20px;
}

.workshops .note {
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
}
